body {
    margin: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Arial, sans-serif;
}
label, input, .res1{
    font-size: 2.5rem;
    padding: 20px;
}

h1{
    font-size: 4rem;
}


input[type="text"] {
    width: 15%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 2rem;
    text-align: center;
}
.container{
    text-align: justify;
}

.fibNum {
    width: 300px;
    height: 500px; 
    overflow: auto; 
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 950px;
    top: 50px
}


.fibNum::-webkit-scrollbar {
    width: 12px;
}

.fibNum::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.fibNum::-webkit-scrollbar-thumb {
    background: #888;
}

.fibNum::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media (max-width: 1200px) {
    h1{
        font-size: 3rem;
    }
    .container{
        margin: auto;
        text-align: center;
    }
    
    label, input, .res1{
        font-size: 2rem;

    }

    .fibNum{
        position: static;
        margin: auto;
        height: 400px;
    }

    body{
        padding: 0px;
    }
}